//copyright 2010 robertjwhitney
@import fancypants/_reset.sass
@import fancypants/_config.sass
@import fancypants/_elements.sass
@import fancypants/_messages.sass
@import fancypants/_default.sass

#wrapper
  :background #f6f6f6
  #top-border
    :background #aaa
    :border-bottom 1px solid #ddd
    :height 10px
  #top-bar
    #top-bar-inner
      :margin-top 20px
      :border none
      :padding 0
      :width 1140px
      a
        :text-decoration none
      #aaarnold
        :background url("../images/aaarnold.png")
        :height 160px
        :float left
        :margin 11px 0 0 60px
        :width 120px
      #logo
        +typeSerif
        +header(68px)
        :color #ccc
        :float left
        :font-weight bold
        :font-style italic
        :height 160px
        :line-height 80px
        :margin-left 40px
        :margin-bottom 0
        :text-align left
        :text-decoration none
        :text-shadow 1px 1px #fff, -1px -1px #ccc
        :width 890px
        p
          :color #fff

#content
  :min-height 400px
  :padding 0 60px 60px
  :width 1100px
  #main
    :width 600px
    fieldset
      :margin-left 160px
  
#wrapper #footer
  :background #111
  :border-top 2px solid #333
  :margin-top 20px
  :min-height 320px
  :padding 30px 60px
  #footer-inner
    :width 1200px
    a.add-dad
      +header(48px)
      +typeSerif
      :background #222
      :border 1px solid #444
      :color #fff
      :float left
      :font-style italic
      :margin-top 0
      :padding 20px
      :text-decoration none
      :-moz-border-radius 3px
      :-webkit-border-radius 3px
      &:hover
        :background #333
    .video
      :float left
    .explain
      :border-left 1px solid #222
      :float left
      :margin 0 20px 0 10px
      :padding 0 40px
      :width 410px
      h1
        :color #999
        :font-size 32px
      p
        :color #666
  
.dads
  :padding-top 120px
  .dad
    :float left
    .photo
      :background #fff
      :border 1px solid #ddd
      :float left
      :height 200px
      :margin 10px
      :width 200px
      :box-shadow -3px 2px 3px #888
      :-moz-box-shadow -3px 2px 3px #888
      :-webkit-box-shadow -3px 2px 3px #888
    a
      :text-decoration none
    .info
      :background #000
      :color #fff
      :cursor pointer
      :height 181px
      :margin 10px
      :padding 10px
      :position absolute
      :width 181px
      :z-index 99
      h2
        +typeSans
        :color #fff
        :margin-top 0
        :font-weight normal
      p
        +typeSerif
        :font-size 16px
        :font-style italic
        :color #ccc
        
.dad-image
  :float left
  :margin 20px
  :margin-left 170px
  :width 200px
  img
    :border 5px solid #fff
    :width 200px
    :box-shadow -1px 2px 3px #888
    :-moz-box-shadow -1px 2px 3px #888
    :-webkit-box-shadow -1px 2px 3px #888
.dad-info
  :float left
  :margin 20px
  :width 400px
  p
    :margin-bottom 40px
  a
    :text-decoration none
    :-moz-border-radius 3px
    :-webkit-border-radius 3px
  h1
    :border-top 1px solid #ccc
    :border-bottom 1px solid #ccc
    :color #333
    :padding 10px 0
  .fb
    :background #3b5998
    :border 1px solid #324C82
    :color #fff
    :padding 3px
    &:hover
      :background #4366AE
  .tw
    :background #69B9BE
    :border 1px solid #589B9F
    :color #fff
    :padding 3px
    &:hover
      :background #73CBD0
  .em
    :background #8E65E2
    :border 1px solid #855FD4
    :color #fff
    :padding 3px
    &:hover
      :background #966BF0
  
  
  