/*
Sass::SyntaxError: Undefined variable: "!h1".
on line 32 of /Users/robert/Desktop/daddy/public/stylesheets/sass/type.sass

28:   :line-height = !baseLine
29: 
30: h1
31:   +header(36px)
32:   :color = !h1
33:   :letter-spacing 1px
34:   
35: h2
36:   +header(24px)
37:   :color = !h2
38:   :letter-spacing 1px


Backtrace:
/Users/robert/Desktop/daddy/public/stylesheets/sass/type.sass:32
/Library/Ruby/Gems/1.8/gems/haml-2.2.17/rails/../lib/sass/script/variable.rb:27:in `perform'
/Library/Ruby/Gems/1.8/gems/haml-2.2.17/rails/../lib/sass/tree/prop_node.rb:99:in `perform!'
/Library/Ruby/Gems/1.8/gems/haml-2.2.17/rails/../lib/sass/tree/node.rb:181:in `_perform'
/Library/Ruby/Gems/1.8/gems/haml-2.2.17/rails/../lib/sass/tree/node.rb:158:in `perform'
/Library/Ruby/Gems/1.8/gems/haml-2.2.17/rails/../lib/sass/tree/node.rb:202:in `perform_children'
/Library/Ruby/Gems/1.8/gems/haml-2.2.17/rails/../lib/sass/tree/node.rb:202:in `map'
/Library/Ruby/Gems/1.8/gems/haml-2.2.17/rails/../lib/sass/tree/node.rb:202:in `perform_children'
/Library/Ruby/Gems/1.8/gems/haml-2.2.17/rails/../lib/sass/tree/node.rb:193:in `perform!'
/Library/Ruby/Gems/1.8/gems/haml-2.2.17/rails/../lib/sass/tree/rule_node.rb:159:in `perform!'
/Library/Ruby/Gems/1.8/gems/haml-2.2.17/rails/../lib/sass/tree/node.rb:181:in `_perform'
/Library/Ruby/Gems/1.8/gems/haml-2.2.17/rails/../lib/sass/tree/node.rb:158:in `perform'
/Library/Ruby/Gems/1.8/gems/haml-2.2.17/rails/../lib/sass/tree/node.rb:202:in `perform_children'
/Library/Ruby/Gems/1.8/gems/haml-2.2.17/rails/../lib/sass/tree/node.rb:202:in `map'
/Library/Ruby/Gems/1.8/gems/haml-2.2.17/rails/../lib/sass/tree/node.rb:202:in `perform_children'
/Library/Ruby/Gems/1.8/gems/haml-2.2.17/rails/../lib/sass/tree/node.rb:193:in `perform!'
/Library/Ruby/Gems/1.8/gems/haml-2.2.17/rails/../lib/sass/tree/node.rb:181:in `_perform'
/Library/Ruby/Gems/1.8/gems/haml-2.2.17/rails/../lib/sass/tree/node.rb:158:in `perform'
/Library/Ruby/Gems/1.8/gems/haml-2.2.17/rails/../lib/sass/tree/node.rb:103:in `render'
/Library/Ruby/Gems/1.8/gems/haml-2.2.17/rails/../lib/sass/plugin.rb:96:in `update_stylesheet'
/Library/Ruby/Gems/1.8/gems/haml-2.2.17/rails/../lib/sass/plugin.rb:82:in `update_stylesheets'
/Library/Ruby/Gems/1.8/gems/haml-2.2.17/rails/../lib/sass/plugin.rb:77:in `each'
/Library/Ruby/Gems/1.8/gems/haml-2.2.17/rails/../lib/sass/plugin.rb:77:in `update_stylesheets'
/Library/Ruby/Gems/1.8/gems/haml-2.2.17/rails/../lib/sass/plugin.rb:75:in `each'
/Library/Ruby/Gems/1.8/gems/haml-2.2.17/rails/../lib/sass/plugin.rb:75:in `update_stylesheets'
/Library/Ruby/Gems/1.8/gems/haml-2.2.17/rails/../lib/sass/plugin.rb:62:in `check_for_updates'
/Library/Ruby/Gems/1.8/gems/haml-2.2.17/rails/../lib/sass/plugin/rails.rb:18:in `process'
/Library/Ruby/Gems/1.8/gems/actionpack-2.3.8/lib/action_controller/base.rb:391:in `process'
/Library/Ruby/Gems/1.8/gems/actionpack-2.3.8/lib/action_controller/base.rb:386:in `call'
/Library/Ruby/Gems/1.8/gems/actionpack-2.3.8/lib/action_controller/routing/route_set.rb:438:in `call'
/Library/Ruby/Gems/1.8/gems/actionpack-2.3.8/lib/action_controller/dispatcher.rb:87:in `dispatch'
/Library/Ruby/Gems/1.8/gems/actionpack-2.3.8/lib/action_controller/dispatcher.rb:121:in `_call'
/Library/Ruby/Gems/1.8/gems/actionpack-2.3.8/lib/action_controller/dispatcher.rb:130:in `build_middleware_stack'
/Library/Ruby/Gems/1.8/gems/activerecord-2.3.8/lib/active_record/query_cache.rb:29:in `call'
/Library/Ruby/Gems/1.8/gems/activerecord-2.3.8/lib/active_record/query_cache.rb:29:in `call'
/Library/Ruby/Gems/1.8/gems/activerecord-2.3.8/lib/active_record/connection_adapters/abstract/query_cache.rb:34:in `cache'
/Library/Ruby/Gems/1.8/gems/activerecord-2.3.8/lib/active_record/query_cache.rb:9:in `cache'
/Library/Ruby/Gems/1.8/gems/activerecord-2.3.8/lib/active_record/query_cache.rb:28:in `call'
/Library/Ruby/Gems/1.8/gems/activerecord-2.3.8/lib/active_record/connection_adapters/abstract/connection_pool.rb:361:in `call'
/Library/Ruby/Gems/1.8/gems/actionpack-2.3.8/lib/action_controller/string_coercion.rb:25:in `call'
/Library/Ruby/Gems/1.8/gems/rack-1.1.0/lib/rack/head.rb:9:in `call'
/Library/Ruby/Gems/1.8/gems/rack-1.1.0/lib/rack/methodoverride.rb:24:in `call'
/Library/Ruby/Gems/1.8/gems/actionpack-2.3.8/lib/action_controller/params_parser.rb:15:in `call'
/Library/Ruby/Gems/1.8/gems/actionpack-2.3.8/lib/action_controller/session/cookie_store.rb:99:in `call'
/Library/Ruby/Gems/1.8/gems/actionpack-2.3.8/lib/action_controller/failsafe.rb:26:in `call'
/Library/Ruby/Gems/1.8/gems/rack-1.1.0/lib/rack/lock.rb:11:in `call'
/Library/Ruby/Gems/1.8/gems/rack-1.1.0/lib/rack/lock.rb:11:in `synchronize'
/Library/Ruby/Gems/1.8/gems/rack-1.1.0/lib/rack/lock.rb:11:in `call'
/Library/Ruby/Gems/1.8/gems/actionpack-2.3.8/lib/action_controller/dispatcher.rb:114:in `call'
/Library/Ruby/Gems/1.8/gems/actionpack-2.3.8/lib/action_controller/reloader.rb:34:in `run'
/Library/Ruby/Gems/1.8/gems/actionpack-2.3.8/lib/action_controller/dispatcher.rb:108:in `call'
/Library/Ruby/Gems/1.8/gems/rails-2.3.8/lib/rails/rack/static.rb:31:in `call'
/Library/Ruby/Gems/1.8/gems/rack-1.1.0/lib/rack/urlmap.rb:47:in `call'
/Library/Ruby/Gems/1.8/gems/rack-1.1.0/lib/rack/urlmap.rb:41:in `each'
/Library/Ruby/Gems/1.8/gems/rack-1.1.0/lib/rack/urlmap.rb:41:in `call'
/Library/Ruby/Gems/1.8/gems/rails-2.3.8/lib/rails/rack/log_tailer.rb:17:in `call'
/Library/Ruby/Gems/1.8/gems/rack-1.1.0/lib/rack/content_length.rb:13:in `call'
/Library/Ruby/Gems/1.8/gems/rack-1.1.0/lib/rack/chunked.rb:15:in `call'
/Library/Ruby/Gems/1.8/gems/rack-1.1.0/lib/rack/handler/mongrel.rb:67:in `process'
/Library/Ruby/Gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:159:in `process_client'
/Library/Ruby/Gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:158:in `each'
/Library/Ruby/Gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:158:in `process_client'
/Library/Ruby/Gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:285:in `run'
/Library/Ruby/Gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:285:in `initialize'
/Library/Ruby/Gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:285:in `new'
/Library/Ruby/Gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:285:in `run'
/Library/Ruby/Gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:268:in `initialize'
/Library/Ruby/Gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:268:in `new'
/Library/Ruby/Gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:268:in `run'
/Library/Ruby/Gems/1.8/gems/rack-1.1.0/lib/rack/handler/mongrel.rb:38:in `run'
/Library/Ruby/Gems/1.8/gems/rails-2.3.8/lib/commands/server.rb:111
/Library/Ruby/Site/1.8/rubygems/custom_require.rb:31:in `gem_original_require'
/Library/Ruby/Site/1.8/rubygems/custom_require.rb:31:in `require'
script/server:3
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Sass::SyntaxError: Undefined variable: \"!h1\".\A on line 32 of /Users/robert/Desktop/daddy/public/stylesheets/sass/type.sass\A \A 28:   :line-height = !baseLine\A 29: \A 30: h1\A 31:   +header(36px)\A 32:   :color = !h1\A 33:   :letter-spacing 1px\A 34:   \A 35: h2\A 36:   +header(24px)\A 37:   :color = !h2\A 38:   :letter-spacing 1px\A "; }
