!!!
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{:name=>"title", :content=>"Who is your daddy and what does he do?"}
    %meta{:name=>"description", :content=>"Tell us who he is and what he does..."}
    %link{:rel=>"image_src", :href=>"/images/aaarnold.png"}
    %title Who is your daddy and what does he do?
    = stylesheet_link_tag 'application'
    %script{:src=>'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js', :type=>'text/javascript'}
    = javascript_include_tag 'application'
  %body
    #wrapper
      #top-border
      #top-bar
        #top-bar-inner
          %a{:href=>"/"}
            #aaarnold
            #logo
              Who is your daddy
              %br/
              and what does he do?
      #content
        = yield
        .clearfix
      #footer
        #footer-inner
          .video
            :plain
              <object width="319" height="258"><param name="movie" value="http://www.youtube.com/v/0ukEqRq8OyU&hl=en_US&fs=1&color1=0x3a3a3a&color2=0x999999"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/0ukEqRq8OyU&hl=en_US&fs=1&color1=0x3a3a3a&color2=0x999999" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="319" height="258"></embed></object>
          .explain
            = link_to "+ Add your Dad", new_dad_path, :class=>"add-dad"
            %p
              Love your Dad? Add him to the glory-board for the world to see. Just answer The Kindergarten Cop's two simple questions: who is your daddy and what does he do?
          .clearfix