!!!
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{:name=>"title", :content=>"Who is your daddy and what does he do?"}
    %meta{:name=>"description", :content=>"Tell us who he is and what he does..."}
    %link{:rel=>"image_src", :href=>"/images/aaarnold.png"}
    %title Who is your daddy and what does he do?
    = stylesheet_link_tag 'application'
    %script{:src=>'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js', :type=>'text/javascript'}
    = javascript_include_tag 'application'
  %body
    #wrapper
      #content
        #sidebar
          #top-bar
            #top-bar-inner
              %a{:href=>"/"}
                #logo
          Lovingly made by Mike and Bob in celebration of Dad's everywhere (especially our own).
          %p
            = link_to "+ Add my Dad", new_dad_path
        #main
          #bubble
          = yield
      #footer